<div class="row">
    <h2>Personal Access Tokens</h2>
    <button class="btn btn-success" (click)="onCreateToken()">Create</button>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Created</th>
                <th scope="col">Expires</th>
                <th scope="col">Revoke</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @for(token of accessTokens; track token.id) {
                <tr>
                    <th scope="row">{{ token.name }}</th>
                    <td>{{ token.created}}</td>
                    @if( token.expires !== null) {
                        <td>{{ token.expires }}</td>
                    } @else {
                        <td>Never</td>
                    }
                    @if (token.is_revoked){
                        <td>Revoked</td>
                    } @else {
                        <td><button class="btn btn-danger" (click)="onRevokeToken(token)">Revoke</button></td>
                    }
                    <td><button class="btn btn-danger" (click)="onDeleteToken(token)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
